.*/
_*/
models/actor/*
models/*.pt
models/critic/*
*/map_results*/
*.pkl
*.whl
demos/*
maps/gen_*
maps/val_*
maps/test_*
maps/debug_*
analysis/snapshots/*
plots/results/*
*.mp4
paper*/
analysis/*/*.csv
